.header {
    width:100%;
    display:flex;
    height:42.125rem;
}
.lhead {
    width: 50%;
}
.lhead p span:nth-child(1) {
    color: var(--orange);
}
.lhead p:nth-child(1) {
    width: 8.5rem;
    height: 3.125rem;
    position: absolute;
    top: 1.375rem;
    left: 6.25rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-family: 'Quicksand', sans-serif;
    z-index: 8;
}
.lhead p:nth-child(2) {
    width: 33.6875rem;
    height: 9.06rem;
    position: absolute;
    top: 13.125rem;
    left: 6.25rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.125rem;
    font-family: 'Quicksand', sans-serif;
}
.lhead p:nth-child(3) {
    width:26.81rem;
    height:3.31rem;
    position: absolute;
    top: 23.81rem;
    left: 6.35rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family:'roboto';
}
.lhead div:nth-child(4) {
    display: flex;
    position: absolute;
    left: 6.25rem;
    top: 28.87rem;
}
.lhead div button{
    margin: 0px 4px;
}
.lhead div{
    margin: 0px 4px;
}
.lhead div button:nth-child(1){
    background-color: var(--orange);
    border-radius: 2px;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.1rem;
  width: 10.312rem;
  height: 3.125rem;
}
.lhead div button:nth-child(2){
    background-color:white;
  border-radius: 2px;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1.1rem;
  width: 10.312rem;
  height: 3.125rem;
  color: black;
  box-shadow: 0px 3px 3px 1px grey;
}
.rhead {
    width: 50%;
}
.rhead > ul li {
    cursor: pointer;
}
.rhead > ul li:hover {
    color: black;
    cursor: pointer;
}
.rhead > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 23.56rem;
    height: 1.1rem;
    list-style: none;
    color: var(--orange);
    align-items: center;
    position: absolute;
    top: 2.25rem;
    right: 14rem;
    font-weight: 500;
    font-size: 1rem;
}
.rhead button{
    position: absolute;
    top:2rem ;
    right:6rem;
    font-weight: 700;
    font-size: 0.97rem;
}

.rhead > img {
    position: absolute;
    top: 8.125rem;
    right: 2rem;
    border-radius: 20px;
    width: 21rem;
    height: 21rem;
    z-index: -1;
}

.hr {
    width: 100vw;
    height: 10.31rem;
    background-color: var(--orange);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hr > div > p:nth-child(1){
    font-weight: 700;
    line-height: 3.125rem;
    font-size: 2.5rem;
    font-family:'Quicksand' ;
    text-align: center;
}
.hr > div > p:nth-child(2){
    font-weight: 700;
    line-height: 0.125rem;
    font-size: 0.8rem;
    font-family:'roboto' ;
    text-align: center;
}
.burger {
    display: none;
    cursor: pointer;
    position: absolute;
    top:1.3rem ;
    right:6.2rem ;
    font-size: 2rem;
    font-weight: 700;
    user-select: none;
}
.Offcanvas {
    width: 75vw;
    height: 99vh;
    background-color: var(--orange);
    text-align: center;
    font-size: 24px;
    font-weight: 400px;
    gap: 1.3rem;
    position: absolute;
    left: -75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.4s;
    z-index:1;
  }
  .Offcanvas ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:50%;
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    color: white;
  }
  .Offcanvas ul li {
    width: 75%;
    margin: auto;
        cursor: pointer;
    }
    .Offcanvas > ul li:hover {
        color: black;
        cursor: pointer;
    }
  .Offcanvas button {
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1rem;
    width: 7.312rem;
    height: 2.125rem;
    color: black;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 1px grey;
    list-style: none;
    text-decoration: none;
  }
  