.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/loginbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  width: 50vw;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 5%;
  padding: 2rem;

  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.659);
}
.head {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.head p:nth-child(1) {
  width: 70%;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
}
.login div:nth-child(1) > p:nth-child(2) {
  width: 30%;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
}
.head p:nth-child(2) span:nth-child(1) {
  color: var(--orange);
  text-decoration: none;
}
.login p:nth-child(2) {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}
.login div:nth-child(3) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login div:nth-child(3) img:nth-child(1) {
  width: 250px;
  height: 45px;
}
.login div:nth-child(3) img {
  width: 50px;
  height: 45px;
  margin: 0rem 0.3rem;
}
.login p:nth-child(4) {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.login p {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.login > input {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  border-color: gray;
  outline: 0;
}
.login div:nth-child(6) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
}
.login button:nth-child(9) {
  align-self: flex-end;
  width: 165px;
  height: 45px;
  margin: 0.4rem 0px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--orange);
  border-radius: 7px;
  border: none;
  color: white;
}
.twoinputs {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.twoinputs input{
  width: 21vw;
  height: 45px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  border-color: gray;
  outline: 0;
}

@media (max-width: 700px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/loginbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    width: 85vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 7%;
    padding: 2rem;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.659);
  }
  .login div:nth-child(6) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
  }
  .login input:nth-child(5) {
    border-radius: 7px;
    font-size: 14px;
    font-weight: 300;
    border-color: gray;
    outline: 0;
  }
  .login input:nth-child(8) {
    border-radius: 7px;
    font-size: 14px;
    font-weight: 300;
    border-color: gray;
    align-self: center;
    outline: 0;
  }
 
  .twoinputs {
    width: 100%;
    display: flex;
    justify-content:space-between;
  }
  .twoinputs input{
    width: 32vw;
    height: 45px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 300;
    border-color: gray;
    align-self: flex-end;
    outline: 0;
  }
  .login p {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  .login p:nth-child(4) {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .login div:nth-child(6)  p {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .login div:nth-child(3) img:nth-child(1) {
    width: 150px;
    height: 45px;
  }
  .login div:nth-child(3) img {
    width: 35px;
    height: 45px;
    margin: 0rem 0.3rem;
  }
}
